
.frame-46 {
    align-items: flex-start;
    display: flex;
    gap: 107.81px;
    width: fit-content;
  }
  
  .frame-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 11.26px;
    width: fit-content;
  }
  
  .fast-work-fast-code {
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: fit-content;
  }
  
  .fast {
    letter-spacing: 0;
    line-height: normal;
    width: fit-content;
  }
  
  .group-3 {
    height: 130.5px;
    min-width: 130.5px;
    transform: rotate(180deg);
  }
  
  .overlap-group {
    height: 131px;
    position: relative;
    width: 131px;
  }
  
  .mask-group {
    height: 131px;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(-180deg);
    width: 131px;
  }
  
  .vector {
    height: 60px;
    left: 18px;
    position: absolute;
    top: 31px;
    transform: rotate(-180deg);
    width: 87px;
  }
  
  .intuitive {
    letter-spacing: 0;
    line-height: normal;
    width: fit-content;
  }
  
  .mask-group-1 {
    height: 130.5px;
    min-width: 130.5px;
  }
  
  .surname {
    height: 41.14px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 222.71px;
  }
  
  .all-programs-must-wo {
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: fit-content;
  }
  
  .vector-1 {
    height: 81px;
    left: 36px;
    position: absolute;
    top: 22px;
    transform: rotate(-180deg);
    width: 59px;
  }
  
  .responsive {
    letter-spacing: 0;
    line-height: normal;
    width: fit-content;
  }
  
  .frame-44 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 13.52px;
    width: fit-content;
  }
  
  .dynamic {
    letter-spacing: 0;
    line-height: normal;
    width: fit-content;
  }
  
  .fresh-animated-websi {
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: fit-content;
  }